@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login";
}

<style>
    
</style>

<h1>@ViewData["Title"]</h1>

<form class="border-2" >
    <fieldset class="border-1">
        <section class="flex-column justify-content-center ">
            <label for="email">Email:</label><br />
            <input type="email" name="name" placeholder="" /><br />
            <label for="password">Password:</label><br />
            <input type="password" name="name" placeholder="" />
        </section>

    </fieldset>
</form>