@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login";
}

<style>

    .login_form{

        display:flex;
        justify-content:center;
        align-content:center;
        
       }

    

    .custom-border-2{
        width:400px;
        height:500px;
        border: 2px solid ;
        border-color: black;
        border-radius:10px;
        padding: 10px;
        display:flex;
        justify-content:center;
        align-items:center;
        align-content:center;
        background-color: whitesmoke;
        
    }

    .custom-border-2:hover {
        width: 400px;
        height: 500px;
        border: 2px solid;
        border-color: blue;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow:5px 5px 5px rgba(0,0,0,0.5);
    }

    input {
        border: 1px solid;
        border-color: black;
        border-radius: 6px;
        width: 300px;
    }

    .border{
    border:0px;
    border-color:white;
    }

    
</style>

<div class="login_form">
<form class="custom-border-2" method="post" asp-action="Login">
    
    <section>
    <h1>@ViewData["Title"]</h1>
    <fieldset class="borde">
        <section class="flex-column justify-content-center">
            <div>
                        <strong><label for="email">Email:</label><br /></strong>
                <input type="email" id="email" name="Email" placeholder="Enter your email" required /><br />
            </div>
            <div>
                        <strong><label for="password">Password:</label><br /></strong>
                <input type="password" name="name" placeholder="Password..." />
            </div>
            <div class="pt-4">
                <button type="submit" class="btn btn-secondary">Submit</button>
            </div>
            <div>
                <a asp-controller="Home" asp-action="Login"> No account? SignIn</a><br />
                        <a asp-controller="Home" asp-action="Login">forgot password</a>
            </div>

        </section>

    </fieldset>
    </section>
    
</form>
</div>
